# Build folders, binary output
build/
bin/
dist/

# Compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Supporting files
*.txt
*.json

# Private files
*private*

# Runtime and local files
*.db
*.log
*.lock
*.tmp

# Windows specific
$Recycle.Bin/
desktop.ini
Thumbs.db
thumbs.db
ehthumbs.db

# Unix specific
*~

# MacOS specific
.DS_Store
._*
